In [5]:
def swap(list):
    list[0],list[-1]=list[-1],list[0]
    return list
list=[24,18,23,54,75]
print (swap(list))
#print a program to swap the first & last position in a list

[75, 18, 23, 54, 24]

In [9]:
def swap(list):
    start,*middle,end=list
    list=[end,*middle,start]
    return list
list=[10,12,34,65,98,65]
print (swap(list))
#print a program to swap the first & last position in a list

[65, 12, 34, 65, 98, 10]

In [12]:
#program to swap two elements in a list
def swap(list,pos1,pos2):
    temp=list[pos1]
    list[pos1]=list[pos2]
    list[pos2]=temp
    return list
list=[8,6,5,9,7,2]
pos1,pos2=2,4
print (swap(list,pos1-1,pos2-1))

[8, 9, 5, 6, 7, 2]

In [14]:
#program to swap two elements in a list
def swap(list,pos1,pos2):
    list[pos1],list[pos2]=list[pos2],list[pos1]
    return list
list=[8,6,5,9,7,2]
pos1,pos2=1,3
print (swap(list,pos1-1,pos2-1))

[5, 6, 8, 9, 7, 2]

In [78]:
#program to find if element exist or not
list = [1, 6, 3, 5, 3, 4]
n=int(input())
if (n in list):
    print("Element Exists")
else:
    print('Element does not exist')

5
Element Exists

In [109]:
#clear a list
list=[2,5,8,9,3,6,7]
del list[:]
print(list)
#del & clear both of them clears the list-------list.clear()
#pop removes a particular item from the list-------list.pop()

[]

In [115]:
#reverse a list
list=[2,7,5,3,7,0,9]
a=print(list[::-1])

[9, 0, 7, 3, 5, 7, 2]

In [117]:
#copy a list
#cloning is the fastest method to copy which takes around 0.039 secs
def cloning(list):
    list_copy=list[:]
    return list_copy
list=[2,6,4,8,9,4,8,0]
a=cloning(list)
print(a)

[2, 6, 4, 8, 9, 4, 8, 0]

In [449]:
#count occurences of number in a list
def occurences(list,x):
    count=0
    for i in list:
        if (i == x):
            count=count+1
    return count
l=[1,1,1,2,3,4,2,3,1,7,8,9,1,4,3]
a=print(occurences(l,1))

5

In [1]:
import pandas as pd
 
# declaring the list
l = [1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 5]
 
count = pd.Series(l).value_counts()
print("Element Count")
print(count)

Element Count
2    3
1    2
3    2
4    2
5    2
dtype: int64

In [2]:
# Python program to find the sum
# and average of the list
L = [4, 5, 1, 2, 9, 7, 10, 8]
count = sum(L)  
# finding average
avg = count/len(L)
print("sum = ", count)
print("average = ", avg)

sum =  46
average =  5.75

In [1]:
def swap(list):
    list[0],list[-1]=list[-1],list[0]
    return list
l=[1,4,8,3,7,9,0]
a=print(swap(l))

[0, 4, 8, 3, 7, 9, 1]

In [2]:
def swap(list,pos1,pos2):
    temp=list[pos1]
    list[pos1]=list[pos2]
    list[pos2]=temp
    return list
l=[1,2,7,8,4,7,9,0]
a=print(swap(l,1,5))

[1, 7, 7, 8, 4, 2, 9, 0]

In [1]:
from turtle import *
color("red")
begin_fill()
pensize(3)
left(50)
forward(133)
circle(50,200)
right(140)
circle(50,200)
forward(133)
end_fill()

In [450]:
count = 0
while (count < 1):    
    count = count+1
    print(count)
    break
else:
    print("No Break")
    #else doesn't count after break in while same goes to for

1

In [451]:
# Prints all letters except 'e' and 's'
for letter in 'geeksforgeeks': 
    if letter == 'e' or letter == 's':
         continue
    print ('Current Letter :', letter)

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [18]:
word=input()
for i in reversed(word):
    print (i,end="")

hello
olleh

In [24]:
word=input()
for i in reversed(word):
    print (i)

hello
o
l
l
e
h

In [30]:
# Point i to the last element in list

List='hello my name is Vivek'
wordList=[List.split()]
i = len(wordList) - 1 
# Iterate till 1st element and keep on decrementing i
while i >= 0 :
    print(wordList[i]) 
    i -= 1

['hello', 'my', 'name', 'is', 'Vivek']

In [39]:
def isNeighbour(N):
    if(abs(10 - N % 10) <= 2 or abs(N % 10) <= 2):
        return True
    return False

In [5]:
def doge_count(str):
    if(len(str) < 4):
        return 0
    count = 0
    for i in range(0, len(str) - 3, 1):
        if(str[i : i + 2] == "do" and str[i + 2] >= 'a' and str[ i + 2] <= 'z' and str[i + 3] == 'e'):
            count += 1
    return count
str='dogedoaedopedoredoe'
print(doge_count(str))
##Program to get 4 matching words with 3rd letter as arbitrary word
##like doge,dope,dose,dore,dobe

4

In [455]:
a = 10
b = 20

if(a):
    pass
else:
    print(b)

In [16]:

from datetime import date
import time
print(time.time())
print(date.fromtimestamp(1668269999.5152962-86400 ))

1668270076.3609002
2022-11-11

In [13]:
print( 24*60*60)

86400

In [154]:
import math
print(math.sqrt(16))
print(math.factorial(4))
print(math.pi)
print(math.tan(90))
print(math.tan(45))
print(math.cos(0))
print(math.sin(90))
print(math.sin(1.57))

4.0
24
3.141592653589793
-1.995200412208242
1.6197751905438615
1.0
0.8939966636005579
0.9999996829318346

TypeError: 'module' object is not callable

In [157]:
import random
list=[1,5,2,3,4,6]
list2=[5,4]
print(random.choice(list))
print(random.randint(10,20))
print(random.random())
print(random.choice(list2))
print(dir(math))
print(dir(datetime))
print(dir(random))
from random import SG_MAGICCONST
print(SG_MAGICCONST(2,4))

4
16
0.3890810708055651
4
['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']
['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_floor', '_index', '_inst', '_isfinite', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

TypeError: 'float' object is not callable

In [159]:
def checkevenodd(x):
    if (x % 2 == 0):
        return 'even'
    else:
        return 'odd'
print(checkevenodd(1))

odd

In [162]:
String1 = "{l} {f} {g}".format(g='Geeks', f='For', l='Life')
print("\nPrint String in order of Keywords: ")
print(String1)
#keyword formatting
# Positional Formatting
String1 = "{1} {0} {2}".format('Geeks', 'For', 'Life')
print("\nPrint String in Positional order: ")
print(String1)

Print String in order of Keywords:
Life For Geeks

Print String in Positional order:
For Geeks Life

In [171]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)
# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)
# Rounding off Integers
String1 = "{0:.2f}".format(1/6)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000
10000
<class 'NoneType'>

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.17

In [174]:
# String alignment
String1 = "|{:<10}|{:^20}|{:>10}|".format('Geeks',
                                          'for', 
                                          'Geeks')
print("\nLeft, center and right alignment with Formatting: ")
print(String1)
String2 = "|{:<20}|{:^20}|{:>20}|".format('Geeks',
                                          'for', 
                                          'Geeks')
print("\nleft,centre and right alignment with formatting: ")
print(String2)

# To demonstrate aligning of spaces
String1 = "\n{0:^16} was founded in {1:<4}!".format("GeeksforGeeks",
                                                    2009)
print(String1)

Left, center and right alignment with Formatting:
|Geeks     |        for         |     Geeks|

left,centre and right alignment with formatting:
|Geeks               |        for         |               Geeks|

 GeeksforGeeks   was founded in 2009!

In [192]:
str="Geeks for geeks"
print(str.swapcase())
str="Geeks for geeks"
print(str.replace('g','e'))
str="Geeks for geeks"
print(str.index('geeks'))
str="Geeks for eeeks"
str1=str.upper()
print(str1)

gEEKS FOR GEEKS
Geeks for eeeks
10
GEEKS FOR EEEKS

In [197]:
import random 
    
# Importing string library function 
import string 
    
def rand_pass(size): 
        
    # Takes random choices from 
    # ascii_letters and digits 
    generate_pass = ''.join([random.choice( string.ascii_uppercase + 
                                            string.ascii_lowercase + 
                                            string.digits) 
                                            for n in range(size)]) 
                            
    return generate_pass 
    
# Driver Code  
password = rand_pass(10) 
print(password)

wvoemZlH2G

In [206]:
# Printing hello in octal
String1 ="\110\145\154\154\157"
print("\nPrint in octal: ")
print(String1)
# Using raw String to
# ignore Escape Sequences
String1 = r"This is \110\145\154\154\157"
print("To print raw string")
print(String1)
# Printing Geeks in HEX
String1 = "This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting in HEX with the use of Escape Sequences: ")
print(String1)
# Using raw String to
# ignore Escape Sequences
String1 = r"This is \x47\x65\x65\x6b\x73 in \x48\x45\x58"
print("\nPrinting Raw String in HEX Format: ")
print(String1)

Print in octal:
Hello
To print raw string
This is \110\145\154\154\157

Printing in HEX with the use of Escape Sequences:
This is Geeks in HEX

Printing Raw String in HEX Format:
This is \x47\x65\x65\x6b\x73 in \x48\x45\x58

In [217]:
# Python code to demonstrate working of
# isupper() and islower()
str = "GeeksforgeekS"
str1 = "GEEKS"

# checking if all characters in str are upper cased
if str.isupper() :
	print("Y")
else:
    print("N")


# checking if all characters in str1 are lower cased
if str1.islower() :
	print("Y")
else:
    print("N")

N
N

In [236]:
# Python code to illustrate expandtabs()
string = 'GEEKS\tFOR\tGEEKS\tGEEKS'
  
# No parameters, by default size is 8
print (string.expandtabs())
  
# tab size taken as 2
print(string.expandtabs(2))
  
# tab size taken as 5
print(string.expandtabs(5))

GEEKS   FOR     GEEKS   GEEKS
GEEKS FOR GEEKS GEEKS
GEEKS     FOR  GEEKS     GEEKS

In [251]:
from datetime import date

def Numofdays(date1,date2):
    return (date2-date1)
date1=date(1970, 4, 21)
date2=date(2022, 2, 21)
print(Numofdays(date1,date2), "days")

18934 days, 0:00:00 days

In [241]:
from datetime import date
 
def numOfDays(date1, date2):
    return (date2-date1).days
     
# Driver program
date1 = date(2018, 12, 13)
date2 = date(2019, 2, 25)
print(numOfDays(date1, date2), "days")

74 days

In [291]:
str="Malayyalam"
length=len(str)
x=str[0:(length//2)]
print(x)
print(y)
y=str[(length//2):]
if (x==y):
    print('Yes')
else:
    print('No')

Malay
yalam
No

In [494]:
def name(s):
 
    # split the string into a list
    l = s.split()
    new = ""
    print(l)
 
    # traverse in the list
    for i in range(len(l)-1):
        s = l[i]
         
        # adds the capital first character
        new += (s[0].upper()+'.')
        
         
    # l[-1] gives last item of list l. We
    # use title to print first character in
    # capital.
    new += l[-1].title()
     
    return new
s ="mohandas karamchand gandhi Jawahar lal Nehru"
print(name(s))

['mohandas', 'karamchand', 'gandhi', 'Jawahar', 'lal', 'Nehru']
M.K.G.J.L.Nehru

In [331]:
from collections import Counter
def find_dup_char(input):
 
    # now create dictionary using counter method
    # which will have strings as key and their
    # frequencies as value
    WC = Counter(input)
    print(WC)
    print(WC.items())
 
    # Finding no. of  occurrence of a character
    # and get the index of it.
    for letter, count in WC.items():
        if (count > 1):
            print(letter)
    for letter, count in WC.items():
        if (letter == "e"):
            print("e:",count)
        if (letter == "G"):
            print("G:",count)
        
 
# Driver program
if __name__ == "__main__":
    input = 'GeeksforGeeks'
    find_dup_char(input)

Counter({'e': 4, 'G': 2, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1})
dict_items([('G', 2), ('e', 4), ('k', 2), ('s', 2), ('f', 1), ('o', 1), ('r', 1)])
G
e
k
s
G: 2
e: 4

In [357]:
str='Kaboom'
a=str.endswith('boom')
print(a)

True

In [ ]:
def imgExtracter(str):
    pat = r'www.+jpg'
    match = re.search(pat,str)
    if(match):
        print(match.group())
    else:
        print(-1)

In [362]:

def intersection(list,list1):
    return set(list).intersection(list1)
list=[1,5,6,7,8,3,5]
list1=[5,4,7,1]
print(intersection(list,list1))

{1, 5, 7}

In [364]:
def intersection(list,list1):
    temp=set(list1)
    lst2=[value for value in list if value in temp]
    return lst2
list=[1,5,6,7,8,3,5]
list1=[5,4,7,1]
print(intersection(list,list1))

[1, 5, 7, 5]

In [372]:
def union(list,list1):
    l2=[list + list1]
    
    return l2
list=[1,5,6,7,8,3,5]
list1=[5,4,7,1]
print(union(list,list1))

[[1, 5, 6, 7, 8, 3, 5, 5, 4, 7, 1]]

In [374]:
def union(list,list1):
    return set(list).union(list1)
list=[1,5,6,7,8,3,5]
list1=[5,4,7,1]
print(union(list,list1))

{1, 3, 4, 5, 6, 7, 8}

In [389]:
def count(list1, l, r):
    count = 0
    for x in list1:
        if (x>=l) and (x<=r):
            count+=1
    return count

# driver code
list1 = [10, 20, 30, 40, 50, 40, 40, 60, 70]
l = 40
r = 80 
print (count(list1, l, r))

6

In [390]:
def count(list1, l, r):
    
    # Traversing the list with on line for loop 
    # check if number is in range of not
    return sum( l <= x <= r for x in list1)
# driver code
list1 = [10, 20, 30, 40, 50, 40, 40, 60, 70]
l = 40
r = 80 
print (count(list1, l, r))

6

In [391]:
def interSection(arr1,arr2):
    

    # filter(lambda x: x in arr1, arr2) -->
    # filter element x from list arr2 where x
    # also lies in arr1
    result = list(filter(lambda x: x in arr1, arr2))
    print ("Intersection : ",result)

# Driver program
if __name__ == "__main__":
    
    arr1 = [1, 3, 4, 5, 7]
    arr2 = [2, 3, 5, 6]
    interSection(arr1,arr2)

TypeError: 'list' object is not callable

In [495]:
def nthFibonacci(n):
        if (n==0):
            return 0
        elif (n==1):
            return 1
        else:
            return nthFibonacci((n-1)) + nthFibonacci((n-2))
print (nthFibonacci(5))

5

In [405]:
def last(n):
    return n[m]  
 
# function to sort the tuple   
def sort(tuples):

    # We pass used defined function last
    # as a parameter. 
    return sorted(tuples, key = last)
 
# driver code  
a = [(23, 45, 20), (25, 44, 39), (89, 40, 23)]
m = 2
print("Sorted:"),
print(sort(a))

Sorted:
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

In [426]:
def Prime(n):
    for i in range (2,n-1):
        if (n % i == 0):
            return f"{n} is not a prime number"
    return f"{n} is a prime number"       
        
print(Prime(773))

773 is a prime number

In [440]:
def Palindrome(str):
    list=str.strip()
    print(list)
    if (list[::-1] == list):
        return f"{list} given is a palindrome"
    else:
        return f"{list} given is not a palindrome"
l="MalayalaM"
print(Palindrome(l))

MalayalaM
MalayalaM given is a palindrome

In [466]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact = fact * i
    return fact
print (factorial(100))

3628800

In [467]:
def trailingzeroes(n):
    i=5
    zeroes=0
    while (i <= n):
        zeroes=zeroes+(n//i)
        i=i*5
    return zeroes
print(trailingzeroes(100))

24

In [471]:
n = int(input())
arr = []
for i in range(0,n):
    temp = int(input())
    arr.append(temp)
    count_odd = 0
    count_even = 0
for i in range(0,n):
    if(arr[i] % 2 == 1):
        count_odd = count_odd + 1
    else:
        count_even = count_even + 1
sum=count_odd + count_even
print(sum)

TypeError: 'str' object is not callable

In [480]:
def countOddEven(arr, n):
    even=0
    odd=0
    for i in range(n):
        if (i // 2 == 0):
            even = even + 1
        else:
            odd = odd + 1
    return even,odd
arr=[1,2,3,3,4]
n=len(arr)
print(countOddEven(arr,n))

(2, 3)

In [512]:
def findPeakUtil(self,arr,low,high,n):
        # calculating mid
        mid=(low+high)//2
        # if mid is last or first index with first element
        # greater than next.
        # Also, check if mid element is greater than mid - 1 and mid+1
        if (mid==0 or arr[mid-1]<=arr[mid]) and (mid==n-1 or arr[mid+1]<=arr[mid] ):
            return mid
        # If mid is other than 0, then check if mid element is less than prev.
        # If so, then recurse for lower half
        elif (mid>0 and arr[mid-1]>arr[mid]):
            return self.findPeakUtil(arr,low,mid-1,n)
        # else recurse for the upper half
        else :
            return self.findPeakUtil(arr,mid+1,high,n)
def peakElement(self,arr, n):
    return self.findPeakUtil(arr,0,n-1,n)

In [513]:
z=y.split(' ') 
len(z)

1

In [514]:
num_list=[1,2,3,4,5]
num_list.remove(2)
print(num_list)

[1, 3, 4, 5]

In [517]:
x={1,2,3,4,5}
x.add(5)
x.add(6)
print(x)

{1, 2, 3, 4, 5, 6}

In [518]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [519]:
table=np.array([
    [1,3],
    [2,4]
])
print(table.max(axis=1))

[3 4]

In [521]:
{x : x*x for x in range(1,100)}

<class 'type'>

In [522]:
[x*2 for x in range(1,n)]

[2, 4, 6, 8, 10, 12, 14, 16]

In [529]:
import pandas as pd
import os

In [530]:
pwd

'C:\\Users\\Hello\\AppData\\Local\\Programs\\Python\\Python310\\Scripts'

In [589]:
a=[10,20]
b=a
b+=[30,40]
print(b)

[10, 20, 30, 40]

In [596]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  40881.000000  4.088100e+04  4.088100e+04  4.088100e+04   4.088100e+04
mean      20.795553  1.147036e+06  3.958269e+04  2.009195e+03   5.042975e+03
std        6.775054  3.390913e+06  1.326895e+05  1.900837e+04   2.157902e+04
min        1.000000  7.330000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       20.000000  1.439020e+05  2.191000e+03  9.900000e+01   4.170000e+02
50%       24.000000  3.712040e+05  8.780000e+03  3.030000e+02   1.301000e+03
75%       24.000000  9.633020e+05  2.871700e+04  9.500000e+02   3.713000e+03
max       43.000000  1.378431e+08  5.053338e+06  1.602383e+06   1.114800e+06

In [592]:
df["views"].min()

733

In [597]:
df.dtypes

video_id                  object
trending_date             object
title                     object
channel_title             object
category_id                int64
publish_time              object
tags                      object
views                      int64
likes                      int64
dislikes                   int64
comment_count              int64
thumbnail_link            object
comments_disabled           bool
ratings_disabled            bool
video_error_or_removed      bool
description               object
dtype: object

In [598]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40881 non-null  object
 1   trending_date           40881 non-null  object
 2   title                   40881 non-null  object
 3   channel_title           40881 non-null  object
 4   category_id             40881 non-null  int64
 5   publish_time            40881 non-null  object
 6   tags                    40881 non-null  object
 7   views                   40881 non-null  int64
 8   likes                   40881 non-null  int64
 9   dislikes                40881 non-null  int64
 10  comment_count           40881 non-null  int64
 11  thumbnail_link          40881 non-null  object
 12  comments_disabled       40881 non-null  bool
 13  ratings_disabled        40881 non-null  bool
 14  video_error_or_removed  40881 non-null  bool
 15  description             39585 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [618]:
date=pd.date_range("20171201",periods = 50)
date

DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05', '2017-12-06', '2017-12-07', '2017-12-08',
               '2017-12-09', '2017-12-10', '2017-12-11', '2017-12-12',
               '2017-12-13', '2017-12-14', '2017-12-15', '2017-12-16',
               '2017-12-17', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24',
               '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01',
               '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09',
               '2018-01-10', '2018-01-11', '2018-01-12', '2018-01-13',
               '2018-01-14', '2018-01-15', '2018-01-16', '2018-01-17',
               '2018-01-18', '2018-01-19'],
              dtype='datetime64[ns]', freq='D')

In [621]:
long_series = pd.Series(np.random.randn(1000))

long_series.head(10)

0    0.354512
1    1.389558
2    1.541312
3   -0.610290
4   -0.518584
5   -0.901097
6   -0.396313
7    0.073908
8   -0.838638
9   -1.159048
dtype: float64

In [628]:
df["views"].max()

137843120

In [636]:
def number_to_string(argument):
    match argument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "something"


if__name__ = "__main__"    
argument = 8
number_to_string(argument)

'something'

In [6]:
lst=int(input())
a=lst.sort()
k=input()
for i in a:
    if i==k:
        return i.index()

1 2 3 4 5

ValueError: invalid literal for int() with base 10: '1 2 3 4 5'

{1, 2, 3, 4, '4'}